*.swp
tags
*.o
*.obj
*.pdb
*~
*test.*
*.ilk
*.exe
*.suo
*test*
*.zip
directx/*
gles_sdk/*
*.dll
*.lib
libs/*
obj/*
android/.settings*
android/assets/*
android/.classpath
android/.project
android/libs/*
android/gen/*
android/bin/*